* {}

body {}

header {}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
}

main {}

#current {
    display: flexbox;
    /*position: relative;*/
    float: inline-start;
    margin: 10px;
    border: 15px blue;

}

h2 {
    color: royalblue;
    display: flex;
    margin: 10px 20px;
    margin-left: 20px;
}

.box {
    display: inline-block;
    margin: 10px 40px;
}