* {}

body {}

header {}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
}

main {}

#current {
    display: flexbox;
    /*position: relative;*/
    float: inline-start;
    margin: 10px;
    border: 15px blue;

}

.box {
    display: inline-block;
    margin: 10px 45px;
}